<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Archdiocese.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Archdiocese.Properties.Settings>
            <setting name="SqlConnectionString" serializeAs="String">
                <value>LxKuTIL6Ez/YHKfroy/2lmppoUNMc3TpPpjTBLhPWzvijXJVRPPOuCbsJDtXYTowKGuqs4osT6hxH9Gt9STx1c3jTvUOsK/k/dgQgWu0g/Sug4KVkyRhDyQK0U+FTxV0sdhlmA56cU6Cb7I5FbDrdxmb0hqpMCVgJpZMx9jdOO9KlVxG2hdbWTJW5FE/N+Prdy/ckUFZiI+pF3CdgWBvTOlG5ohCCQGeUo68eyxpziB2kLc+TYnjWqcBJZJflHpjCvO3hUHYeeg=</value>
            </setting>
        </Archdiocese.Properties.Settings>
    </userSettings>
</configuration>
